<ion-view view-title="">
    <ion-nav-buttons side="right">
        <button class="button button-clear" ng-hide="!ASSETMANAGER_RESULTS" ng-click="clearSearch()">Clear</button>
    </ion-nav-buttons>
    <ion-content class="padding">
        <div class="list card" ng-hide="ASSETMANAGER_RESULTS">
            <div class="item item-avatar">
                <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAALIAAAAJGY4NzI5NDhiLTQzM2YtNDE4OS04MDdiLTg1N2I5Y2U1ZTMyNQ.jpg">
                <h2>New Asset Movement</h2>
              
            </div>
            <div class="item item-body">
                  <label class = "item item-input item-select">
                    <span class="input-label">Asset Origin Location/Donor/Supplier</span>
	                <select>
                      <option>Bangalore-North</option>
                      <option selected>Bangalore-East</option>
                      <option>Bangalore-South</option>
                      <option>Hyderabad-West</option>
                      <option>Delhi-Old</option>
                      <option>Delhi-New</option>
                      <option>Chennai</option>
                      <option>SAP</option>
                      <option>Samajik Suvidha Sangam</option>
                      <option>ONGC</option>
                      <option>Nehru Yuva Kendra</option>
                      <option>Lenovo</option>
                      <option>HP</option>
                      <option>Panasonic</option>
                      <option>Dell</option>
                  </select>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Origin Location Address</span>
                    <input class="titleSearch" type="text" >
                   <!--ng-disabled="mySearch.id" ng-model="mySearch.title" ng-keyup="$event.keyCode == 13 && doSearch(mySearch)"-->
                </label>
                
                
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Origin Location Address (Line 2)</span>
                    <input class="titleSearch" type="text" >
                   <!--ng-disabled="mySearch.id" ng-model="mySearch.title" ng-keyup="$event.keyCode == 13 && doSearch(mySearch)"-->
                </label>
                
                
                <label class="item item-input item-stacked-label">
                    <span class="input-label">PIN Code</span>
                    <input class="titleSearch" type="number" >
                   <!--ng-disabled="mySearch.id" ng-model="mySearch.title" ng-keyup="$event.keyCode == 13 && doSearch(mySearch)"-->
                </label>
                
                <label class = "item item-input item-select">
                    <span class="input-label">Movement Status</span>
	                <select>
                      <option>Shipped</option>
                      <option selected>In Transit</option>
                      <option>Received</option>
                  </select>
                </label>
                
                
                <label class = "item item-input item-select">
                    <span class="input-label">Asset Destination Location</span>
	                <select>
                      <option>Bangalore-North</option>
                      <option selected>Bangalore-East</option>
                      <option>Bangalore-South</option>
                      <option>Hyderabad-West</option>
                      <option>Delhi-Old</option>
                      <option>Delhi-New</option>
                      <option>Chennai</option>
                    </select>
                </label>
                
                 <label class="item item-input item-stacked-label">
                    <span class="input-label">Destination Location Address</span>
                    <input class="titleSearch" type="text" >
                   <!--ng-disabled="mySearch.id" ng-model="mySearch.title" ng-keyup="$event.keyCode == 13 && doSearch(mySearch)"-->
                </label>
                
                
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Destination Location Address (Line 2)</span>
                    <input class="titleSearch" type="text" >
                   <!--ng-disabled="mySearch.id" ng-model="mySearch.title" ng-keyup="$event.keyCode == 13 && doSearch(mySearch)"-->
                </label>
                
                
                <label class="item item-input item-stacked-label">
                    <span class="input-label">PIN Code</span>
                    <input class="titleSearch" type="number" >
                   <!--ng-disabled="mySearch.id" ng-model="mySearch.title" ng-keyup="$event.keyCode == 13 && doSearch(mySearch)"-->
                </label>
                
                
                
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Movement Date</span>
                    <input class="titleSearch" type="date" >
                   <!--ng-disabled="mySearch.id" ng-model="mySearch.title" ng-keyup="$event.keyCode == 13 && doSearch(mySearch)"-->
                </label>
                
                
                <label class = "item item-input item-select">
                    <span class="input-label">Movement Type</span>
	                <select>
                      <option>Internal</option>
                      <option selected>Purchased</option>
                      <option>Donated</option>
                  </select>
                </label>
                
                <button class="button icon icon-left ion-checkmark-round button-positive">
                   Save
                </button>
                
                <button class="button icon icon-left ion-close-round button-stable">
                   Reset
                </button>

            
                
                <ion-content>
                    <div class="col"><button class="button" ng-click="ctrl.add($index)">Add</button></div>
                    <div class="col"><button class="button" ng-click="ctrl.delete($index)">Delete</button></div>
                <div class="row header">
                  <div class="col"></div>
                  <div class="col">ID</div>
                  <div class="col">Product Type</div>
                  <div class="col">Quantity</div>
                  <div class="col">Cost</div>
                  <div class="col">Status</div>
                </div>
                <div class="row" ng-repeat="data in ctrl.data">
                  <div class="col">{{data.check}}</div>
                  <div class="col">{{data.ID}}</div>
                  <div class="col">{{data.ProductType}}</div>
                  <div class="col">{{data.Quantity}}</div>
                  <div class="col">{{data.Cost}}</div>
                  <div class="col">{{data.Status}}</div>
                  
                    
                </div>
                </ion-content>
            </div>
        </div>
        <ion-list ng-hide="!ASSETMANAGER_RESULTS">
            <a class="item item-thumbnail-left" ng-repeat="item in OMDB_RESULTS" href="#/app/details/{{item.imdbID}}">
                <img ng-src="{{item.Poster}}">
                <h2>{{item.Title}}</h2>
                <p>{{item.Year}}</p>
            </a>
        </ion-list>
    </ion-content>
</ion-view>
